.masthead .x-navbar .x-navbar-inner .x-nav-wrap {
  // All nav types
  .x-nav {
    li a {
      // All menu items
      font-size: $navbar-text-font-size;
      font-family: $navbar-text-font-family;
      text-transform: $navbar-text-transform;
      font-weight: $navbar-text-weight;
    }

    & > li {
      // Only top level menu items

      & > .sub-menu {
        // Only top level sub menu
        top: $navbar-height;
      }

      .sub-menu {
        // All submenus
        background-color: $navbar-submenu-background-color;
        color: $navbar-text-color;
        border: 0;
        padding: $navbar-submenu-padding;

        li {
          &:hover {
            background-color: $navbar-link-active-color;
          }

          &,
          span {
            @include fast-transition;
          }
        }
      }

      & > a {
        padding-top: $navbar-height / 2.4;
        font-size: $navbar-text-font-size;
        font-family: $navbar-text-font-family;

        @if $navbar-link-style == 'fill'
         or $navbar-link-style == 'fade' {
          padding: ($navbar-height - $navbar-text-font-size) / 2 0;
        }

        @if $navbar-link-style == 'fade' {
          background: linear-gradient(to top, transparent 0%, transparent 100%);
        }

        @if $navbar-link-style == 'border'
         or $navbar-link-style == 'pill-border' {
          $local-spacing: (($navbar-height - $navbar-text-font-size) - ($navbar-link-accent-width * 2)) / 4;
          border: $navbar-link-accent-width solid transparent;
          margin: $local-spacing $navbar-text-spacing 0;
          padding: $local-spacing;
        }

        @if $navbar-link-style == 'rectangle'
         or $navbar-link-style == 'pill' {
          $local-spacing: ($navbar-height - $navbar-text-font-size) / 4;
          margin: $local-spacing $navbar-text-spacing 0;
          padding: $local-spacing;
        }

        @if $navbar-link-style == 'pill'
         or $navbar-link-style == 'pill-border' {
          border-radius: $navbar-link-border-radius;
        }

        &:not(.x-btn-navbar-woocommerce) {
          padding-left: $navbar-text-spacing;
          padding-right: $navbar-text-spacing;
        }

        & > span {
          padding: 0;
          font-size: $navbar-text-font-size;

          &,
          i {
            @include fast-transition;
            color: $navbar-text-color;
          }
        }
      }
      &.menu-item-language .sub-menu {
        min-width: none; // WPML menu item width fix
      }
    }
    @if $navbar-brand-center {
      width: 100%;

      & > li:nth-child(-n+#{$navbar-item-amount / 2}) {
        float: left;
      }

      & > li:nth-child(1n+#{$navbar-item-amount / 2 + 1}) {
        float: right;
      }
    }
  }

  &.x-nav-wrap > li  > a {
    font-family: $navbar-text-font-family;
    letter-spacing: 0;
    text-transform: $navbar-text-transform;

    & > span {}
  }
}

//////////////////
// Desktop menu //
//////////////////
.masthead .x-navbar .x-navbar-inner .x-nav-wrap.desktop .x-nav > li {
  @if $navbar-link-style == 'fill'
   or $navbar-link-style == 'underline' {
    &:last-child > a {
      padding-right: $navbar-text-spacing !important;
    }
  }
}
/////////////////
// Mobile menu //
/////////////////
.masthead .x-navbar .x-navbar-inner .x-nav-wrap.mobile {}

///////////////////
// Mobile button //
///////////////////
.masthead .x-navbar .x-navbar-inner .x-btn-navbar {
  box-shadow: none;
  @if $navbar-link-style == 'fill' {
    padding: ($navbar-height - $navbar-text-font-size) / 2 $navbar-text-spacing;
    height: auto;
    border-radius: 0;
  }

  i {
    font-size: $navbar-text-font-size;
    color: $navbar-text-color;
  }

  &:hover {
    i {
      color: $navbar-text-hover-color;
    }
  }
}
// End of menus
////////////////////
// Brand img/text //
////////////////////

.masthead .x-navbar .x-navbar-inner .x-brand {
  margin-top: ($navbar-height - $navbar-brand-height) / 2;

  @if $navbar-brand-image == 'true' {
    &.img {
      &,
      img {
        height: $navbar-brand-height;
      }
      @if $navbar-brand-center == true {
        position: absolute;
        width: 100%;
        text-align: center;
      }
      @if $navbar-brand-circle == true {
        &.img img {
          $local-padding: $navbar-height / 3;
          $local-size: $navbar-height * 2;
          height: $local-size !important;
          width: $local-size !important;
          background-color: $navbar-background-color;
          border-radius: 100%;
          padding: $local-padding;
          left: 0;
          margin-top: 0;
          @if $navbar-brand-center != true {
            // Avoid double output
            position: absolute;
          }
        }
      }
    }
  }
  @else {
    &.text {
      font-size: $navbar-brand-height;
    }
  }
}
//////////////
// if fixed //
//////////////
@if $navbar-height != $navbar-fixed-height
 or $navbar-background-color != $navbar-fixed-background-color {
  // .masthead .x-navbar,
  .x-nav > li > a,
  // .sub-menu,
  // .x-brand,
  // .x-brand img,
  // .x-logobar,
  // .x-navbar-fixed-top-active .x-navbar-wrap,
  .x-navbar-inner {
    @include fast-transition;

  }

  .masthead .x-navbar.x-navbar-fixed-top {

    @if $navbar-background-color != $navbar-fixed-background-color {
      background-color: $navbar-fixed-background-color;
    }

    @if $navbar-height != $navbar-fixed-height {
      // If Fixed
      .x-navbar-inner {
        min-height: $navbar-fixed-height;
        .x-brand {
          margin-top: ($navbar-fixed-height - $navbar-fixed-brand-height) / 2;

          @if $navbar-brand-image == false {
            &.text {
              font-size: $navbar-fixed-brand-height;
            }
          }
          @else {
            &.img,
            &.img img {
              height: $navbar-fixed-brand-height;
            }
          }
        }
      }

      .desktop .x-nav > li {
        & > .sub-menu { // Only top level submenu
          top: $navbar-fixed-height;
        }

        .sub-menu { // All submenus
          border: none;
          background-color: $navbar-fixed-submenu-background-color;
        }

        & > a { // Only top level links
          @if $navbar-link-style == 'underline' {
            height: $navbar-fixed-height - $navbar-link-accent-width;
          }
          @else {
            height: $navbar-fixed-height;
          }

          @if $navbar-link-style == 'fill'
           or $navbar-link-style == 'underline' {
            margin: 0;
          }

          @if $navbar-link-style == 'border'
           or $navbar-link-style == 'pill-border' {
            $local-spacing: (($navbar-fixed-height - $navbar-text-font-size) - ($navbar-link-accent-width * 2)) / 4;
            border: $navbar-link-accent-width solid transparent;
            margin: $local-spacing ($navbar-text-spacing / 2) 0 ($navbar-text-spacing / 2);
            padding: $local-spacing ($navbar-text-spacing / 2) !important;
            height: auto;
          }

          @if $navbar-link-style == 'rectangle'
           or $navbar-link-style == 'pill' {
            $local-spacing: ($navbar-fixed-height - $navbar-text-font-size) / 4;
            margin: $local-spacing $navbar-text-spacing 0;
            padding: $local-spacing;
            height: auto;
          }

          @elseif $navbar-link-style == 'fill' {
            padding: ($navbar-fixed-height - $navbar-text-font-size) / 2 $navbar-text-spacing;
          }
        }
      }
    }
    ////////////////////
    // Fixed + Active //
    ////////////////////
    .x-nav-wrap .x-nav > li > a:hover,
    .x-nav-wrap .x-nav > li.current-menu-item > a,
    .x-nav-wrap .x-nav > li.x-active > a,
    .x-nav-wrap .x-nav > li.x-active > a > span {
      color: $navbar-text-hover-color !important;

       > span,
      > span i {
        color: $navbar-text-hover-color;
      }

      @if $navbar-link-style == 'fill' {
        background-color: $navbar-fixed-link-active-color;
      }

      @elseif $navbar-link-style == 'underline' {
        box-shadow: 0 $navbar-link-accent-width 0 0 $navbar-fixed-link-active-color;
      }

      @elseif $navbar-link-style == 'border'
       or $navbar-link-style == 'rectangle'
       or $navbar-link-style == 'pill'
       or $navbar-link-style == 'pill-border' {
        border-color: $navbar-fixed-link-active-color;

        @if $navbar-link-style == 'rectangle'
         or $navbar-link-style == 'pill' {
          background-color: $navbar-fixed-link-active-color;
        }
      }
    }
  }
}
///////////////////
// Active styles //
///////////////////
.x-nav-wrap .x-nav > li {
  & > a:hover,
  &.current-menu-item > a,
  &.x-active > a {

    &,
    & > span,
    & > span i {
      color: $navbar-text-hover-color;
    }

    @if $navbar-link-style == 'fill' {
      box-shadow: none;
      background-color: $navbar-link-active-color;
    }

    @if $navbar-link-style == 'fade' {
      background: $navbar-link-active-color; // Fallback
      background: linear-gradient(to top, $navbar-link-active-color 0%, transparent 100%);
    }

    @elseif $navbar-link-style == 'underline' {
      box-shadow: 0 $navbar-link-accent-width 0 0 $navbar-link-active-color;
    }

    @elseif $navbar-link-style == 'border'
     or $navbar-link-style == 'rectangle'
     or $navbar-link-style == 'pill'
     or $navbar-link-style == 'pill-border' {
      border-color: $navbar-link-active-color;

      @if $navbar-link-style == 'rectangle'
       or $navbar-link-style == 'pill' {
        background-color: $navbar-link-active-color;
      }
    }
  }

  & > a {
    @if $navbar-link-style == 'fill' {
      margin: 0;
      padding: 0;
      height: $navbar-height;
    }

    @elseif $navbar-link-style == 'underline' {
      height: $navbar-height - $navbar-link-accent-width;
    }
  }
}

@elseif $navbar-link-style == 'border'
 or $navbar-link-style == 'rectangle'
 or $navbar-link-style == 'pill'
 or $navbar-link-style == 'pill-border' {
  .x-navbar .desktop .x-nav > {
    .current-menu-item > a,
    .x-active > a,
    li > a:hover {
      border-color: $navbar-link-active-color;

      @if $navbar-link-style == 'rectangle'
       or $navbar-link-style == 'pill' {
        background-color: $navbar-link-active-color;
      }
    }

    & > li > a {
      border: $navbar-link-accent-width solid transparent;
      margin: ($navbar-height - ($navbar-text-font-size + (($navbar-height / 6) * 2) + ($navbar-link-accent-width * 2))) / 2 ($navbar-text-spacing / 2);
      padding: $navbar-height / 6 !important;
      height: auto;

      @if $navbar-link-style == 'pill' or $navbar-link-style == 'pill-border' {
        border-radius: 30px;
      }

      span {
        padding: 0;
      }
    }
  }
}

body.x-navbar-fixed-top-active .x-navbar-wrap {
  height: $navbar-height !important;
}

.masthead .x-navbar {
  background-color: $navbar-background-color;

  .x-navbar-inner {
    min-height: $navbar-height;
  }
}

@if $navbar-background-color == 'transparent' {
  .masthead .x-navbar {
    pointer-events: none;
    .x-nav {
      pointer-events: all;
    }
  }
}

@if $navbar-fixed-background-color == 'transparent' {
  .masthead .x-navbar.x-navbar-fixed-top {
    pointer-events: none;
    .x-nav {
      pointer-events: all;
    }
  }
}
