////////////
// Colors //
////////////
$primary-color: #d13b32;
$secondary-color: desaturate(darken($primary-color, 20%), 10%);

$black: #000;
$dark-gray: #222;
$gray: #333;
$light-gray: #ccc;
$white: #fff;

$light-background-color: $white;
$dark-background-color: $dark-gray;

////////////
// Global //
////////////
$container-width: 1200px;
$container-max-width: 95%;

$global-border-radius: 0;
$global-border-color: $primary-color;
$global-border-width: 4px;

$text-color-light: $white;
$text-color-dark: $dark-gray;

//////////
// Text //
//////////
$heading-font-family: "Montserrat";
$heading-font-external: true;
$heading-font-weight: 700;
$heading-text-transform: uppercase;
$heading-color: $text-color-dark;

$body-font-family: "Roboto Condensed";
$body-font-external: true;
$body-font-size: 16px;
$body-text-style: normal;
$body-text-weight: 300;
$body-text-color: $text-color-dark;
$body-line-height: 1.9;
$body-background-color: $white;

//////////////
// Sections //
//////////////
$section-padding: 100px;

/////////////
// Buttons //
/////////////
$button-style: 'transparent'; // Transparent | Fill | Border-Fill | 3D
$button-style-transition: none; // Grow | Shrink | none
$button-style-transition-rotation: 0; // Rotation on hover
$button-border-radius: $global-border-radius;
$button-border-width: $global-border-width;
$button-color: $text-color-light;
$button-background-color: $primary-color;
$button-active-background-color: $secondary-color;

////////////
// Inputs //
////////////
$input-text-style: 'transparent'; // Transparent | Fill | Border-Fill | 3D
$input-text-style-transition: none; // Grow | Shrink | none
$input-text-style-transition-rotation: 0; // Rotation on hover
$input-text-border-radius: $global-border-radius;
$input-text-border-width: $global-border-width;
$input-text-border-color: transparent;
$input-text-active-border-color: $global-border-color;
$input-text-color: $text-color-dark;
$input-text-background-color: $white;
$input-text-active-background-color: $secondary-color;
$input-text-height: 50px;

////////////
// Navbar //
////////////
// Colors //
$navbar-background-color: $secondary-color;
$navbar-fixed-background-color: $primary-color;
$navbar-submenu-background-color: $navbar-background-color;
$navbar-fixed-submenu-background-color: $navbar-fixed-background-color;

// Height //
$navbar-height: 120px;
$navbar-fixed-height: 60px;
$navbar-submenu-padding: $global-border-width;

// Text //
$navbar-text-font-size: 20px;
$navbar-text-font-family: $heading-font-family;
$navbar-text-color: $text-color-light;
$navbar-text-hover-color: darken($navbar-text-color, 15);
$navbar-text-transform: $heading-text-transform;
$navbar-text-weight: $heading-font-weight;
$navbar-text-spacing: 20px; // Horizontal padding of list items

// Links //
$navbar-link-style: 'fade'; // Underline | Fill | Border | Rectangle | Pill | Pill-border | Fade
$navbar-link-accent-width: $global-border-width;
$navbar-link-active-color: $navbar-fixed-background-color;
$navbar-link-border-radius: $global-border-radius;
$navbar-fixed-link-active-color: $navbar-background-color;

// Brand //
$navbar-brand-image: false;
$navbar-brand-height: $navbar-height * 0.9;
$navbar-fixed-brand-height: $navbar-fixed-height * 0.96;
$navbar-brand-center: false;
$navbar-item-amount: 4;
$navbar-brand-circle: false;

////////////
// Footer //
////////////
$footer-top-padding: 5%;
$footer-top-background-color: $gray;
$footer-top-text-color: $text-color-light;

$footer-bottom-padding: 35px;
$footer-bottom-background-color: $secondary-color;
$footer-bottom-text-color: $footer-top-text-color;

////////////////
// Contactbox //
////////////////
$contactbox-used: false; // If you are using the html contactbox
$contactbox-size: $input-text-height;
$contactbox-background-color: $secondary-color;
$contactbox-hover-background-color: $primary-color;
$contactbox-right-opacity: 1 / 4;
$contactbox-text-color: $text-color-light;
