// Clearfix | Ever had an element that wouldn't stretch to its contents? Clearfix that shit.
// Usage: @extend %clearfix;
%clearfix {
  *zoom: 1;

  &:after,
  &:before {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }
}

// Visually hide an element without removing it
// Usage: @extend %visuallyhidden;
%visuallyhidden {
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  position: absolute;
}

%hide {
  display: none;
}
