// Breakpoint mixin.
// Usage: @include break( 'large', 'min' ) { @content }
@mixin break( $breakpoint, $type:max ) {
  @if map-has-key( $breakpoints, $breakpoint ) {
    @media (#{$type}-width: #{map-get($breakpoints, $breakpoint)}) {
      @content;
    }
  }
  @else {
    @warn 'Breakpoint "#{$breakpoint}" not found.';
  }
}

@mixin transition($speed, $timing: ease, $delay: null) {
  transition: all $speed $timing !important;
  @if $delay != null {
    transition-delay: $delay;
  }
}

// Simple easing transitions
// Usage @include slow-transition;
@mixin slow-transition {
  @include transition(1s);
}
// Usage @include simple-transition;
@mixin simple-transition {
  @include transition(0.5s);
}
// Usage @include fast-transition;
@mixin fast-transition {
  @include transition(0.3s);
}
// Usage @include turbo-transition;
@mixin turbo-transition {
  @include transition(0.1s);
}

// Quick size
// Usage: @include size(100%); If you don't include the second argument, height, it will be the same as the width.
@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin pos( $top, $right:$top, $bottom:$top, $left:$right) {
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

// Because it is annoying to type out
@mixin absolute-center {
  position: absolute;
  @include pos(0);
  margin: auto;
}

// Easily target all text elements at once
// Usage: #{textElements()} { (your styles) }
@function textElements() {
  @return 'h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a, .h1 a, .h2 a, .h3 a, .h4 a, .h5 a, .h6 a, blockquote, p';
}

// Easy opacity
// Usage: color: black(0.75);
@function black($opacity) {
  @return rgba(0,0,0,$opacity);
}
@function white($opacity) {
  @return rgba(255,255,255,$opacity);
}

// Inserts a background image from Lorem Pixel with the dimensions and optionally subject of your choice
// Usage: @include placeholder()
@mixin placeholder($width, $height:$width, $subject:null) {
  background-image: url("http://lorempixel.com/#{$width}/#{$height}/#{$subject}");
}

// Makes object transparent with primary color text and border, fills on hover.
@mixin hollow {
  background-color: transparent;
  color: $primary-color;
  @include fast-transition;
  @include border;

  &:focus,
  &:hover {
    color: white;
    background-color: $primary-color;
    border-color: $primary-color;
  }
}

// Adds an hover animated underline to the object
// Usage: @include animated-underline;
@mixin animated-underline {
  position: relative;
  &::after {
    content: ' ';
    height: $global-border-width;
    background-color: $global-border-color;
    width: 0;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
    @include simple-transition;
  }

  &:hover::after {
    width: 100%;
  }
}

// Apply same border to varying sides of objects
// Usage: @include border(); for all sides, or for example @include border(top, left) for only top and left.
@mixin border ($sides...) {
  $style: $global-border-width solid $global-border-color;
  @if ( $sides != null ){
    @each $side in $sides{
      @if ($side == 'top' or $side == 'right' or $side == 'bottom' or $side == 'left') {
        border-#{$side}: $style;
      }
    }
  }
  @else {
    border: $style;
  }
}

// Set style for all 6 headings
// Usage: #{headings(1,6)} { (your styles) }
@function headings($from:1, $to:6) {
   @if $from == $to{
    @return 'h#{$from}';
  }
  @else {
     @return'h#{$from},' + headings($from+1, $to);
  }
}
