@include break( 'tiny' ) {
  @import '../responsive/breakpoint-tiny';
}

@include break( 'small' ) {
  @import '../responsive/breakpoint-small';
}

@include break( 'medium' ) {
  @import '../responsive/breakpoint-medium';
}

@include break( 'large' ) {
  @import '../responsive/breakpoint-large';
}

@media print {
  @import '../responsive/print';
}
