/////////////////
// X overrides //
/////////////////
$accentColor: $primary-color;
$linkColor: $primary-color;
$linkColorHover: $secondary-color;
$sansFontFamily: $body-font-family;
$altFontFamily: $heading-font-family;
$navbarHeight: $navbar-height;
$navbarFontSize: $navbar-text-font-size;
$navbarBackground: $navbar-background-color;
$navbarLinkColor: $navbar-text-color;
$navbarLinkColorHover: $navbar-text-hover-color;
$navbarLinkColorActive: $navbar-text-hover-color;
$headingsFontWeight: $heading-font-weight;
$headingsColor: $heading-color;
$tableBorder: $global-border-color;
$inputBorder: $global-border-color;
$inputBackground: $input-text-background-color;
$baseLineHeight: $body-line-height;
$baseFontWeight: $body-text-weight;
$bodyBackground: $body-background-color;
$textColor: $body-text-color;
$fa-font-path: '../x/framework/fonts/font_awesome';
$baseBorderRgba: rgba(0,0,0,0);
