$breakpoints                          : ( 'tiny': 339px, 'small': 443px, 'medium': 767px, 'large': 979px );
////////////
// Colors //
////////////
$primary-color                        : #d13b32 !default;
$secondary-color                      : desaturate(darken($primary-color, 20%), 10%) !default;
$black                                : #000 !default;
$dark-gray                            : #222 !default;
$gray                                 : #333 !default;
$light-gray                           : #ccc !default;
$white                                : #fff !default;
$light-background-color               : $white !default;
$dark-background-color                : $dark-gray !default;
////////////
// Global //
////////////
$container-width                      : 1000px !default;
$container-max-width                  : 95% !default;
$global-border-radius                 : 0 !default;
$global-border-color                  : $primary-color !default;
$global-border-width                  : 4px !default;
$text-color-light                     : $white !default;
$text-color-dark                      : $dark-gray !default;
//////////
// Text //
//////////
$heading-font-family                  : 'Montserrat' !default;
$heading-font-external                : true !default;
$heading-font-weight                  : 700 !default;
$heading-text-transform               : uppercase !default;
$heading-color                        : $text-color-dark !default;
$body-font-family                     : 'Roboto Condensed' !default;
$body-font-external                   : true !default;
$body-font-size                       : 16px !default;
$body-text-style                      : normal !default;
$body-text-weight                     : 300 !default;
$body-text-color                      : $text-color-dark !default;
$body-line-height                     : 1.9 !default;
$body-background-color                : $white !default;
//////////////
// Sections //
//////////////
$section-padding                      : 100px !default;
/////////////
// Buttons //
/////////////
$button-style                         : 'transparent' !default; // Transparent | Fill | Border-Fill | 3D
$button-style-transition              : none !default; // Grow | Shrink | none
$button-style-transition-rotation     : 0 !default; // Rotation on hover
$button-border-radius                 : $global-border-radius !default;
$button-border-width                  : $global-border-width !default;
$button-color                         : $text-color-light !default;
$button-background-color              : $primary-color !default;
$button-active-background-color       : $secondary-color !default;
////////////
// Inputs //
////////////
$input-text-style                     : 'transparent' !default; // Transparent | Fill | Border-Fill | 3D
$input-text-style-transition          : none !default; // Grow | Shrink | none
$input-text-style-transition-rotation : 0 !default; // Rotation on hover
$input-text-border-radius             : $global-border-radius !default;
$input-text-border-width              : $global-border-width !default;
$input-text-border-color              : transparent !default;
$input-text-active-border-color       : $global-border-color !default;
$input-text-color                     : $text-color-dark !default;
$input-text-background-color          : $white !default;
$input-text-active-background-color   : $secondary-color !default;
$input-text-height                    : 50px !default;
////////////
// Navbar //
////////////
// Colors //
$navbar-background-color              : $secondary-color !default;
$navbar-fixed-background-color        : $primary-color !default;
$navbar-submenu-background-color      : $navbar-background-color !default;
$navbar-fixed-submenu-background-color: $navbar-fixed-background-color !default;
// Height //
$navbar-height                        : 120px !default;
$navbar-fixed-height                  : 60px !default;
$navbar-submenu-padding               : $global-border-width !default;
// Text //
$navbar-text-font-size                : 20px !default;
$navbar-text-font-family              : $heading-font-family !default;
$navbar-text-color                    : $text-color-light !default;
$navbar-text-hover-color              : darken($navbar-text-color, 15) !default;
$navbar-text-transform                : $heading-text-transform !default;
$navbar-text-weight                   : $heading-font-weight !default;
$navbar-text-spacing                  : 20px !default; // Horizontal padding of list items
// Links //
$navbar-link-style                    : 'fill' !default; // Underline | Fill | Border | Rectangle | Pill | Pill-border
$navbar-link-accent-width             : $global-border-width !default;
$navbar-link-active-color             : $navbar-fixed-background-color !default;
$navbar-link-border-radius            : $global-border-radius !default;
$navbar-fixed-link-active-color       : $navbar-background-color !default;
// Brand //
$navbar-brand-image                   : false !default;
$navbar-brand-height                  : $navbar-height * 0.9 !default;
$navbar-fixed-brand-height            : $navbar-fixed-height * 0.96 !default;
$navbar-brand-center                  : false !default;
$navbar-item-amount                   : 4 !default;
$navbar-brand-circle                  : false !default;
////////////
// Footer //
////////////
$footer-top-padding                   : 5% !default;
$footer-top-background-color          : $gray !default;
$footer-top-text-color                : $text-color-light !default;
$footer-bottom-padding                : 35px !default;
$footer-bottom-background-color       : $secondary-color !default;
$footer-bottom-text-color             : $footer-top-text-color !default;
////////////////
// Contactbox //
////////////////
$contactbox-used                      : false !default; // If you are using the html contactbox
$contactbox-size                      : $input-text-height !default;
$contactbox-background-color          : $secondary-color !default;
$contactbox-hover-background-color    : $primary-color !default;
$contactbox-right-opacity             : 1 / 4 !default;
$contactbox-text-color                : $text-color-light !default;
@import "../../edit";
@import "variables-overrides";
